body{
  background: #fff7e7;
}
body, p, li{
  font-family: "Raleway", sans-serif;
}
h1, h2, h3, h4, a{
  color: #ce4f00;
  text-decoration: none;
}

.center{
  text-align: center;
}

/*grid*/
.container{
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: flex-start;
  margin: 15px;
  max-width: 1000px;
}

@media screen and (min-width: 800px){

  .container{
    flex-direction: row ;
    margin: 0 auto;
  }
}